{% extends 'account/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block category %}
    <a class="list-group-item list-group-item-action " data-toggle="list"
       href="{% url 'account:change_email' %}">{% translate 'Change Email' %}</a>
    <a class="list-group-item list-group-item-action active" data-toggle="list"
       href="{% url 'account:change_password' %}">{% translate 'Change password' %}</a>
    <a class="list-group-item list-group-item-action" data-toggle="list"
       href="{% url 'account:manage_favourite_genres' %}">{% translate 'Add Favourite Genres' %}</a>
    <a class="list-group-item list-group-item-action " data-toggle="list"
       href="{% url 'account:generate_api_token' %}">{% translate 'API Token Management' %}</a>
    <a class="list-group-item list-group-item-action" data-toggle="list"
       href="{% url 'account:languages' %}">{% translate 'Languages' %}</a>
{% endblock %}