{% extends 'portal/base.html' %}
{% load static %}
{% load i18n %}


{% block active_menu %}
    <li><a class="dropdown-item" href="{% url 'portal:home' %}">{% translate 'HomeTab' %}</a></li>
    <li><a class="dropdown-item active" href="{% url 'portal:daily_recommend' %}"
           aria-current="page">{% translate 'Daily picks for you' %}</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:genres' %}">{% translate 'Genres' %}</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:reviewed_films' %}">{% translate 'Reviewed films' %}</a></li>
{% endblock %}

{% block body %}
    <h2 class="category" align="center">{% translate 'Recommends' %}</h2>
    <div class="album py-5 bg-light">
        <div class="container">
            {% translate 'Predicted' as rating_text %}
            <div class="row">
                {% for recommended_film in page_obj %}
                    <div class="col-sm-3 g-2">
                        {% include 'portal/card.html' with movie=recommended_film.movie user_rating_text=rating_text user_rating=recommended_film.predicted_rating %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}