{% extends 'portal/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block head %}
    <title>{{ movie.title }}</title>
{% endblock %}

{% block active_menu %}
    <li><a class="dropdown-item " href="{% url 'portal:home' %}">{% translate 'HomeTab' %}</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:daily_recommend' %}">{% translate 'Daily picks for you' %}</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'portal:genres' %}">{% translate 'Genres' %}</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:reviewed_films' %}">{% translate 'Reviewed films' %}</a></li>
{% endblock %}

{% block body %}
    {% translate 'Predicted' as rating_text %}

    <div class="detail-card" movie-id="{{ movie.id }}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-md-7 col-sm-2 col-ms-3 col-xs-12 column-img">
                        <div class="column-img-c">
                            <div class="img-c">

                                {% if movie.image_url %}
                                    <img src="{{ movie.image_url }}" class="card-img-top mt-2">
                                {% else %}
                                    <svg class="bd-placeholder-img card-img-top" width="100%" height="429"
                                         xmlns="http://www.w3.org/2000/svg" role="img"
                                         aria-label="Placeholder: Image cap"
                                         preserveAspectRatio="xMidYMid slice" focusable="false"><title>
                                        {% translate 'Placeholder' %}</title>
                                        <rect width="100%" height="100%" fill="#868e96"></rect>
                                        <text x="37%" y="50%" fill="#dee2e6"
                                              dy=".3em">{% translate 'Not Found' %}</text>
                                    </svg>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <h1 class="title">{{ movie.title }}</h1>
                    <div class="row">
                        <div class="col">
                            <div class="rating">
                                <div class="movie-rating" data-nosnippet="">
                                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp;
                                    <span class="rating">{{ movie.rating | floatformat:-2 }}</span>
                                    <span>TMDB</span>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="rating">
                                <div class="movie-rating" data-nosnippet="">
                                    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>&nbsp;
                                    <span class="rating">{{ movie.predicted_rating| floatformat:-2 }}</span>
                                    <span>{{ rating_text }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-content mt-5">
                        <div class="row">
                            <div class="col-md-10 col-sm-10 col-ms-9 col-xs-12 g-10">
                                <div class="attr">
                                    <span class="entry">{% translate 'Genres' %}:</span> <span
                                        class="value">{{ movie.genres.all|join:',' }}</span>
                                </div>
                                <div class="attr">
                                    <span class="entry">{% translate 'Tags' %}:</span> <span
                                        class="value">{{ movie.tags.all|join:',' }}</span>
                                </div>
                                <div class="attr">
                                    <span class="entry">{% translate 'Duration' %}:</span> <span
                                        class="value">{{ movie.duration }} {% translate 'min' %}.</span>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-10 col-ms-9 col-xs-12 mt-5">
                                <div class="attr">
                                    <span class="entry">{% translate 'Release date' %}:</span> <span
                                        class="value">{{ movie.released_at }}</span>
                                </div>
                                <div class="attr attr-story">
                                    <span class="entry">{% translate 'Overview' %}:</span>
                                    <span class="value">{{ movie.overview }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user-rating mt-4">
                        <h2>{% translate 'RateFilmMessage' %}</h2>
                        {% translate 'Give' as give %}
                        <div class="rating rating2">
                            <a href="#5" title="{{ give }}  5" data-value="5">★</a>
                            <a href="#4" title="{{ give }}  4" data-value="4">★</a>
                            <a href="#3" title="{{ give }}  3" data-value="3">★</a>
                            <a href="#2" title="{{ give }}  2" data-value="2">★</a>
                            <a href="#1" title="{{ give }}  1" data-value="1">★</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(".rating a").on('click', function (e) {
            let rating = $(this).data('value');
            let movie_id = $('.detail-card').attr('movie-id');
            $.ajax({
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                url: "/movie/" + movie_id + "/review/",
                type: 'POST',
                data: {'rating': rating},
                success: function (d) {
                    alert('Succcess!')
                }
            })
        });
    </script>
    {% if urls %}
        <h2 class="category" align="center">{% translate 'Free sources to view' %}</h2>
        <table class="table table-hover">
            <thead>
            <tr class="table-header">
                <th scope="col">#</th>
                <th scope="col">{% translate 'Movie source' %}</th>
                <th scope="col">{% translate 'Subtitles' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for url in urls %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href={{ url.url }}>{{ url.source_name }}</a></td>
                    <td>{% if url.subtitles %} {% translate 'Yes' %} {% else %} {% translate 'No' %}  {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <h2 class="category" align="center">{% translate 'Same genres' %}</h2>
    {% include 'portal/posters_layout.html' with movies=same_genres_recommends user_rating_text=rating_text %}
{% endblock %}