{% extends 'portal/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block active_menu %}
    <li><a class="dropdown-item" href="{% url 'portal:home' %}">Home</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:daily_recommend' %}">Daily picks for you</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:genres' %}">Genres</a></li>
    <li><a class="dropdown-item active" href="{% url 'portal:reviewed_films' %}">Reviewed films</a></li>
{% endblock %}

{% block body %}
    <h2 class="category" align="center">Reviewed films</h2>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for review in page_obj %}
                    <div class="col-sm-3 g-2">

                        <div class="card" style="width: 18rem;">

                            {% if review.movie.images.first.url %}
                                <img src="{{ review.movie.images.first.url }}" class="card-img-top">
                            {% else %}
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="429"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap"
                                     preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#868e96"></rect>
                                    <text x="37%" y="50%" fill="#dee2e6" dy=".3em">Not Found</text>
                                </svg>
                            {% endif %}
                            <div class="card-body">
                                <a href="{% url 'portal:movie-detail' movie.id %}">
                                    <p class="card-text">{{ review.movie.title }}</p>
                                </a>
                                <div class="row ">
                                    <div class="col pt-10">
                                        <div class="rating">
                                            <p class="movie-rating">{{ review.movie.rating }}</p>
                                            <p class="movie-rating-text">TMDB</p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="computed-rating text-end">
                                            <p class="computed-movie-rating ">{{ review.rating| floatformat:-2 }}</p>
                                            <p class="movie-rating-text text-end">Your rate</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; First</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}