{% extends 'portal/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}

{% block active_menu %}
    <li><a class="dropdown-item" href="{% url 'portal:home' %}">{% translate 'HomeTab' %}</a></li>
    <li><a class="dropdown-item" href="{% url 'portal:daily_recommend' %}">{% translate 'Daily picks for you' %}</a>
    </li>
    <li><a class="dropdown-item" href="{% url 'portal:genres' %}">{% translate 'Genres' %}</a></li>
    <li><a class="dropdown-item active" href="{% url 'portal:reviewed_films' %}">{% translate 'Reviewed films' %}</a></li>
{% endblock %}

{% block body %}
    <h2 class="category" align="center">{% translate 'Reviewed films' %}</h2>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% translate 'Your rate' as rating_text %}
                {% for review in page_obj %}
                    <div class="col-sm-3 g-2">
                        {% include 'portal/card.html' with movie=review.movie user_rating_text=rating_text user_rating=review.rating %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page=1">&laquo; {% translate 'First' %}</a>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% translate 'Previous' %}</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% translate 'Next' %}</a>
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% translate 'Last' %} &raquo;</a>
            {% endif %}
        </ul>
    </nav>
{% endblock %}