{% extends 'authentication/base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block head %}
    <title>{% translate 'Log in' %}</title>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="auth-container">
            <div class="login-page">
                <h3 class="page-description">{% translate 'Sign in' %}</h3>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form |crispy }}
                    <input class="mt-2" type="submit" value={% translate "Submit" %}>
                </form>
            </div>
            <p class="spaced">
                <a href="{% url 'authentication:registration' %}">{% translate 'register' %}</a> | <a
                    href="{% url 'authentication:reset_password' %}">{% translate 'forgot password' %} </a>
            </p>
        </div>
    </div>
{% endblock %}